@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.hero {
  height: 95vh;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero h1 {
  font-size: 12rem;
  text-align: center;
  color: aliceblue;
  position: absolute;
  z-index: 20;
  top: 15%;
  width: 100%;
}

.content-container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.wallpaper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallpaper-container div {
  display: flex;
  max-width: 900px;
  gap: 1.5rem;
}

.wallpaper-container div div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

.wallpaper-container div div button {
  width: 200px;
  height: 75px;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  cursor: pointer;
}

.wallpaper-container div div p {
  text-align: end;
}

.wallpaper-container div img {
  max-width: 500px;
}
